body {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .con {
      height: 30rem;
      width: 20rem;
      border: 2px solid black;
      border-radius: 1rem;
      padding: 1rem;
    }

    .img {
      height: 65%;
      width: 99%;
      border-radius: 0.7rem;
      border: 0.01px solid black;
      object-fit: cover;
      opacity: 0.5;
    }

    h2 {
      margin: 0 0 1rem 0;
    }

    label {
      background: #0C95FF;
      height: 3rem;
      width: 10rem;
      margin: 1rem auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      border-radius: 0.8rem;
      color: white;
    }

    .inp {
      display: none;
    }
